<div class="container">
    <div class="m-auto col-sm-8 col-md-6 col-lg-6">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="text" class="form-control" [(ngModel)]="user.username">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" [(ngModel)]="user.password">
        </div>
        <button type="submit" class="btn btn-primary" (click)="submit()">Log In</button>
      </div>
</div>